<h2 mat-dialog-title>Add New Column</h2>
<form #addColumn = "ngForm" (ngSubmit)="onSubmit(addColumn.value)">
    <div class="example-container" mat-dialog-content>
      <mat-form-field appearance="fill">
        <mat-label>Column Name</mat-label>
        <input matInput type="text" name="headerText" ngModel>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Data Type</mat-label>
        <mat-select value="one" name="dataType" ngModel>
          <mat-option value="one">Text</mat-option>
          <mat-option value="two">Number</mat-option>
          <mat-option value="three">Date</mat-option>
          <mat-option value="four">Boolean</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Minimun Column Width</mat-label>
        <input matInput type="number" name="width" ngModel>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Font Size</mat-label>
        <input matInput type="number">
      </mat-form-field>
      <mat-form-field appearance="fill">
          <mat-label>Allignemnt</mat-label>
          <mat-select value="one" name="textAlign" ngModel>
            <mat-option value="one">Left</mat-option>
            <mat-option value="two">Right</mat-option>
            <mat-option value="three">Center</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Text Wrap</mat-label>
          <mat-select value="one" value="one" name="textWrap" ngModel>
            <mat-option value="one">True</mat-option>
            <mat-option value="two">False</mat-option>
          </mat-select>
        </mat-form-field>
      <div class="colorPickerCustome">
            <mat-label>Font Color</mat-label>
            <input class="customeFontColor" [(colorPicker)]="fontColor" [style.background]="fontColor" value="one" name="fontColor" ngModel/>

            <mat-label>Background Color</mat-label>
            <input [(colorPicker)]="backGroundColor" [style.background]="backGroundColor"  name="backgroundColor" ngModel/> 
      </div>
    </div>
    <mat-card-actions>
      <button mat-button (click)="onNoClick()">Cancel</button>
      <button mat-raised-button color="primary" type="submit">Save</button>
  </mat-card-actions>
</form>
<!-- <div class="cutomeDialogActions" mat-dialog-actions>
  <button mat-button cdkFocusInitial>Save</button>
  <button mat-button (click)="onNoClick()">Cancel</button>
</div> -->
