<div *ngIf='showFreezecolumns' class="grid-freezeprop">
  <div class="grid-freezecol">
      <div class="grid-freezecol">
          <span>
              Column
          </span>
      </div>
      <div class="grid-freezecol">
          <ejs-dropdownlist id='column' #columndropdown index='7' [dataSource]='columnData'
              (change)='columnChange($event)' [fields]='fields'></ejs-dropdownlist>
      </div>
  </div>
  <div class="grid-freezecol">
      <div class="grid-freezecol">
          <span>
              Freeze Direction
          </span>
      </div>
      <div class="grid-freezecol">
          <ejs-dropdownlist id='direction' #directiondropdown index='0' [dataSource]='directionData'
              (change)='directionChange($event)' [fields]='fields'></ejs-dropdownlist>
      </div>
  </div>
</div>

<ejs-treegrid 
#treeGrid
[dataSource]="gridDataSource"
idMapping='TaskID'
parentIdMapping='ParentItem'
hasChildMapping='isParent'
[treeColumnIndex]="1"
[enableInfiniteScrolling]="true"
[pageSettings]="pageSettings"
[height]="gridTreeHeight"
[editSettings]='editing'
[contextMenuItems]='contextMenuItems'
(contextMenuOpen)='contextMenuOpen($event)'
(contextMenuClick)="contextMenuClick($event)"
allowReordering='true'
[allowResizing]=true
[allowRowDragAndDrop]='dragAndDropEnabled' 
[selectionSettings]='selectOptions'
[allowFiltering]="isFilterEnabled"
[allowSorting]="isSortingEnabled"
[showColumnChooser]="isColumnChooserEnabled"
[toolbar]="toolbar"
> 

<e-columns>
  <e-column 
    *ngFor="let column of columnsSetting"
    field={{column.field}}
    headerText={{column.headerText}}
    width={{column.width}}
    textAlign={{column.textAlign}}>
  </e-column>
</e-columns>
</ejs-treegrid>