<ejs-treegrid 
#treegrid
[dataSource]="gridDataSource"
childMapping="Crew"
[treeColumnIndex]="1"
[enableInfiniteScrolling]="true"
[pageSettings]="pageSettings"
[height]="gridTreeHeight"
[editSettings]='editing'
[contextMenuItems]='contextMenuItems'
(contextMenuOpen)='contextMenuOpen($event)'
(contextMenuClick)="contextMenuClick($event)"
allowReordering='true'
[allowResizing]=true
[allowRowDragAndDrop]='true' 
[selectionSettings]='selectOptions'
[allowFiltering]="isFilterEnabled"
[allowSorting]="isSortingEnabled"
> 

<e-columns>
  <e-column 
    *ngFor="let column of columnsSetting"
    field={{column.field}}
    headerText={{column.headerText}}
    width={{column.width}}
    textAlign={{column.textAlign}}>
  </e-column>
</e-columns>

</ejs-treegrid>